* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  padding: 4rem 0;
}

.hide {
  display: none !important;
}

#edit-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
#workout-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

form {
  width: 50%;
}

.delete {
  text-decoration: none;
  color: red;
}